<div class="container-fluid form-top ">
  <h2>
    Update Your Post
  </h2>
  <form class="edit-comment-form">
    <div class="mb-3 ">
      <label for="exampleFormControlInput1" class="form-label">Title</label>
      <textarea type="text" value="{{title}}" class="form-control" id="title"
       >{{title}}</textarea>
    </div>
    <div class="mb-3 ">
      <label for="exampleFormControlInput1" class="form-label">Content</label>
      <textarea type="text" value="{{content}}" class="form-control" id="content"
       >{{content}}</textarea>
    </div>
    <br>
       <button type="submit" value="Submit" class="btn btn-blue">
      Submit
    </button>
  </form>
</div>
<script src="/js/edit-comment.js"></script>